<table class="table">
  <tr>
    <th>Nome</th>
    <th>E-mail</th>
    <th>Valor</th>
    <th>Desconto</th>
    <th>Fabricação</th>
  </tr>
  <tr>
    <td>{{p1.nome | uppercase}}</td>
    <td>{{p1.email | lowercase}}</td>
    <td>{{p1.valor | currency:'BRL'}}</td>
    <td>{{p1.desconto | percent}}</td>
    <td>{{p1.fabricacao | date:'fullDate'}}</td>
  </tr>
  <tr>
    <td>{{p2.nome}}</td>
    <td>{{p2.email}}</td>
    <td>{{p2.valor}}</td>
    <td>{{p2.desconto}}</td>
    <td>{{p2.fabricacao}}</td>
  </tr>
  <tr>
    <td>{{p3.nome}}</td>
    <td>{{p3.email}}</td>
    <td>{{p3.valor}}</td>
    <td>{{p3.desconto}}</td>
    <td>{{p3.fabricacao}}</td>
  </tr>
  <tr>
    <td>{{p4.nome}}</td>
    <td>{{p4.email}}</td>
    <td>{{p4.valor}}</td>
    <td>{{p4.desconto}}</td>
    <td>{{p4.fabricacao}}</td>
  </tr>
  <tr>
    <td>{{p5.nome}}</td>
    <td>{{p5.email}}</td>
    <td>{{p5.valor}}</td>
    <td>{{p5.desconto}}</td>
    <td>{{p5.fabricacao}}</td>
  </tr>
</table>
